

form{
    background-color: forestgreen;
    border: 2px solid black;

}

div{
    margin: 5px;
    
}

#sumbit-btn{
   background-color: rgb(152, 247, 152);
}

input{
    border: 2px solid black;
}

